package main

import(
	"{{.PackageName}}/controllers"
	"github.com/labstack/echo"
	"net/http"
	"os"
)

func getPort() string {
	port := os.Getenv("PORT")
	if port == "" {
		port = "4000"
	}

	return port
}

func main() {
	e := echo.New()
	controllers.Setup(e.Router())

	e.GET("/", func(c echo.Context) error {
		return c.String(http.StatusOK, "Nothing to see here.")
	})

	err := e.Start(":" + getPort())
	if err != nil {
		panic(err)
	}
}


// vi:syntax=go

